html, body {
    font-family:Inter;
    margin: 0;
    padding: 0;
}

.navBar {
    position: absolute;
    width: 100%;
    top: 30px;
    display: flex;
    justify-content: center;
}

.navBox {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin: 0 auto;
    padding: 10px;
    font-weight: 450;
}

.rightIcons {
    position: absolute;
    display: flex;
    justify-content: center;
    gap: 15px;
    font-size: 28px;
    right: 40px;
    top: 50%;
    transform: translateY(-50%);
}

.leftSite {
    position: absolute;
    display: flex;
    justify-content: center;
    font-size: 20px;
    left: 40px;
    font-weight: 700;
    top: 50%;
    transform: translateY(-50%);
}

.navBar a {
    text-decoration: none;
    color: black;
}

.navBox a:hover{
    color: grey;
}

.navBox a.active {
    color:grey;
}

.heroSection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}


.name {
    font-weight: 700;
    font-size: 50px;
}

.learn {
    font-weight: 500;
    font-style: italic;
}
.heroSection p {
    width: 600px;
}

.headerProj {
    margin: 100px;
    text-align: center;
    padding: 0;
}

.projectsGrid {
    display: grid;
    grid-template-columns: 380px 380px 380px;
    column-gap: 67px;
    text-align: center;
    justify-content:center;
    align-items: center;
}

.projectsCard {
    height: 450px;
    width: 380px;
    border: 1px solid black;
    border-radius: 30px;
}

.projectsCard .description {
    padding: 15px;
    padding-top: 0px;
    text-align: left;
}

.stack {
    padding: 20px;
}

.projectsGrid a {
    color: black;
}

.projectsGrid a:hover {
    color:grey;
}